This pandas tutorial covers basics on dataframe. DataFrame is a main object of pandas. It is used to represent tabular data (with rows and columns). This tutorial will go over
1) What is dataframe?

2) Create dataframe from csv file and python dictionary

3) Dealing with rows and columns

4) Operations: mean, max, std, describe

5) Conditional selection

6) set_index function and usefulness of it

# create datafarme using csv file

In [45]:
import pandas as pd
df=pd.read_csv("C:\\Users\\Ines\\data science training\\pandas\\weather_data.csv")

In [44]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

# create datafarme using pyton dictionary

In [46]:

import pandas as pd
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
df = pd.DataFrame(weather_data)

In [47]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

#  Dealing with rows and columns

In [48]:
df.shape

(6, 4)

In [49]:
df.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [50]:
df.tail(1)

        day  temperature  windspeed  event
5  1/6/2017           31          2  Sunny

tail(X) : ta3tik il X line likhra ...

In [51]:
df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [53]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [54]:
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [56]:
type(df['event'])

pandas.core.series.Series

What is the type of your dataframe? : all date frame are series

In [59]:
df[['event','day']]

   event       day
0   Rain  1/1/2017
1  Sunny  1/2/2017
2   Snow  1/3/2017
3   Snow  1/4/2017
4   Rain  1/5/2017
5  Sunny  1/6/2017

# Operations: mean, max, std, describe

In [66]:
df['temperature']

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [62]:
df['temperature'].max()

35

In [63]:
df['temperature'].mean()

30.333333333333332

In [64]:
df['temperature'].min()

24

In [65]:
df['temperature'].std()

3.8297084310253524

In [68]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [69]:
df['temperature'].describe()

count     6.000000
mean     30.333333
std       3.829708
min      24.000000
25%      28.750000
50%      31.500000
75%      32.000000
max      35.000000
Name: temperature, dtype: float64


Google pandas series operations to find out list of all operations http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.html

# Conditional select the data in your dataframe

In [70]:
df[df.temperature>30]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [71]:
df[df.temperature== df.temperature.max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

select e row ili fih temrature maximal

In [73]:
df[['day','temperature']][df.temperature== df.temperature.max()]

        day  temperature
1  1/2/2017           35

mch row kol just e day

# set_index function and usefulness of it

In [87]:
df.index

RangeIndex(start=0, stop=6, step=1)

if you want change the index

In [75]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [83]:
df.set_index('day', inplace=True)

KeyError: "None of ['day'] are in the columns"

In [84]:
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [85]:
df.loc['1/4/2017']

temperature      24
windspeed         7
event          Snow
Name: 1/4/2017, dtype: object

if you want to reset the index so ta3m haka

In [88]:
df.reset_index(inplace=True)
df

   index       day  temperature  windspeed  event
0      0  1/1/2017           32          6   Rain
1      1  1/2/2017           35          7  Sunny
2      2  1/3/2017           28          2   Snow
3      3  1/4/2017           24          7   Snow
4      4  1/5/2017           32          4   Rain
5      5  1/6/2017           31          2  Sunny